 <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #B02A37;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../partials/Imagens/logo.png" width="30" height="24" class="d-inline-block align-text-top">
      Prodigy Media</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          
          <div class="dropdown show">

            <a class="nav-link active dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% categorias.forEach(categoria =>{ %> 
                <a class="dropdown-item" href="#"><%=categoria.title %></a>
              <% }); %>
            </div>

          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
 