<%-include('../../partials/header.ejs')%> 
<body>
    <%-include('../../partials/navbarAdmin.ejs')%> 
    <div class="container">
        <br>
        <div class="card ">
            <div class="card-header">
              <h5>Cadastrar Categoria</h5>
            </div>
            <div class="card-body">
              <form method="post" action="/categorias/save">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="title" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="Define o título da Categoria">
                  <button class="btn btn-success" type="submit" id="button-addon2">Cadastrar</button>
                </div>
              </form>
            </div>
    </div>
    
</body>


<%-include ('../../partials/footer.ejs')%> 